*{
    text-align: center;
}
html{
    background-color: #ff337722;
    font-size: 16px;
}

body{
    width: 640px;
    margin: auto;/* 너비에서 남는 여백을 동일하게 분배 */
}
h1{
    font-size: 48px;
}
h2{
    color: #ff3377;
}
img{
    width: 350px;
    height: 350px;
    border-radius: 175px;
    border: 7px double #ff3377;
    box-sizing: border-box;
}
p{
    font-size: 1.5rem;
}
#introduce p{
    font-weight: lighter;
    font-size: 20px;
    line-height: 20px;
}